22-ecommerce-etl-kpi-postgres/workflow.json
{
  "name": "22-ecommerce-etl-kpi-postgres",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAt": "00:00"
            }
          ]
        }
      },
      "id": "b2c3d4e5-1111-4444-8888-000000000001",
      "name": "Schedule",
      "type": "n8n-nodes-base.schedule",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "method": "GET",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4444-8888-000000000002",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 400],
      "notes": "شبیه‌سازی دریافت داده‌های فروش از API فروشگاه. در محیط واقعی، URL و هدرهای احراز هویت را جایگزین کنید."
    },
    {
      "parameters": {
        "jsCode": "// محاسبه KPIهای فروش از لیست آیتم‌ها\nconst items = $input.all();\n\n// شبیه‌سازی مقدار فروش برای هر آیتم (در واقعیت از فیلد amount یا price داده‌های واقعی استفاده می‌شود)\nlet totalRevenue = 0;\nitems.forEach(item => {\n  // فرض می‌کنیم هر آیتم نماد یک سفارش با مقدار تصادفی بین 100 تا 1000 دلار است\n  const mockAmount = Math.floor(Math.random() * 900) + 100;\n  totalRevenue += mockAmount;\n});\n\nconst totalCount = items.length;\nconst aov = totalCount > 0 ? (totalRevenue / totalCount).toFixed(2) : 0;\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    report_date: today,\n    total_revenue: totalRevenue,\n    total_orders: totalCount,\n    average_order_value: parseFloat(aov)\n  }\n}];"
      },
      "id": "b2c3d4e5-3333-4444-8888-000000000003",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "daily_kpi",
          "mode": "list",
          "cachedResultName": "daily_kpi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "report_date": "={{ $json.report_date }}",
            "total_revenue": "={{ $json.total_revenue }}",
            "total_orders": "={{ $json.total_orders }}",
            "average_order_value": "={{ $json.average_order_value }}"
          },
          "matchingColumns": [
            "report_date"
          ],
          "schema": [
            {
              "id": "report_date",
              "displayName": "report_date",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "total_revenue",
              "displayName": "total_revenue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number"
            },
            {
              "id": "total_orders",
              "displayName": "total_orders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number"
            },
            {
              "id": "average_order_value",
              "displayName": "average_order_value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-4444-4444-8888-000000000004",
      "name": "PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 400],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.total_revenue }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-5555-4444-8888-000000000005",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0987654321",
          "mode": "list",
          "cachedResultName": "management-reports"
        },
        "text": "📈 *Daily Sales Target Achieved!*\n\n📅 *Date:* {{ $json.report_date }}\n💰 *Total Revenue:* ${{ $json.total_revenue }}\n🛒 *Total Orders:* {{ $json.total_orders }}\n📊 *Average Order Value:* ${{ $json.average_order_value }}\n\nGreat job team! 🚀",
        "otherOptions": {}
      },
      "id": "b2c3d4e5-6666-4444-8888-000000000006",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1340, 320],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "id": "22-ecommerce-etl-kpi-postgres",
  "tags": []
}